---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import {BackgroundWaves} from '../components/BackgroundWaves.jsx';
import {GradientText} from '../components/TextVariants.jsx';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="bg-black text-white">
		<Header title={SITE_TITLE} />
		<main>
			<div class="-z-10 flex justify-end absolute h-screen w-[100vw]">
				<img class="md:self-auto self-end min-w-screen" src="/images/curve.svg" alt="" srcset="">
				<div class="absolute flex justify-center md:justify-end self-end">
					<img class="translate-y-44  w-full sm:w-3/4 md:w-1/2" src="/images/graphic.png" alt="" srcset="">
				</div>
			</div>
			<section class="p-0 w-screen sm:p-10 md:px-36 hero h-[100vh] flex flex-col justify-center text-center md:text-left align-middle ">
				<h3 class="text-white text-2xl sm:text-4xl font-main">hey i'm</h3>
				<div class="flex flex-row md:justify-start justify-center ">
					<GradientText className=" sm:text-6xl text-4xl" >Krishna</GradientText>
					<img class="ml-4 w-10 sm:w-14" src="/images/hand-wave.png" alt="" srcset="">
				</div>
				
			</section>
			<section class="h-screen w-screen">
				<div class="max-h-screen flex flex-row justify-center w-full">
					<div class="absolute z-10">
						<div class="h-screen w-screen hero-design bg-cover bg-fixed" />
					</div>
					<div class="h-screen w-screen flex justify-center flex-col z-20 items-center">
						<div>
							<h3 class="text-white text-xl sm:text-2xl text-center sm:text-left font-main">so sometimes i</h3>
							<GradientText className="sm:text-7xl text-6xl bg-white">Design</GradientText>
						</div>
					</div>
				</div>
			</section>
			<section class="h-screen w-screen">
				<div class="max-h-screen flex flex-row justify-center w-full">
					<div class="absolute z-10">
						<div class="h-screen w-screen hero-code bg-cover bg-fixed" />
					</div>
					<div class="h-screen w-screen flex justify-center flex-col z-20 items-center">
						<div>
							<h3 class="text-white text-xl sm:text-2xl text-center sm:text-left font-main">and yeah i</h3>
							<GradientText className="sm:text-7xl text-6xl bg-white">Code</GradientText>
						</div>
					</div>
				</div>
			</section>
			<div class="bg-black h-screen z-50">
				content
			</div>
		</main>
		<Footer />
	</body>
</html>


<!-- <script src="vanta.birds.min.js"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/vanta@0.5.24/src/_base.min.js"></script> -->
<!-- <script src="three.r134.min.js"></script>
<script src="vanta.dots.min.js"></script> -->